<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="false"
      internalLogLevel="Off" internalLogFile="\tmp\jclock-nlog-internal.log">

  <!-- Enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="logconsole"
            xsi:type="Console"
            layout="${longdate} ${aspnet-request-ip} ${threadid:padding=-3} ${logger:padding=-50} ${level:uppercase=true:padding=-10} ${message}"/>

  </targets>

  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="false" />
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
  </rules>

</nlog>